<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_webpage</h1>
        <form method="POST">
            {% csrf_token %}
            <select name="tn" id="tn"> 
                {% for to in LTO %}
                <option value="{{ to }}">{{ to.topic_name }}</option>
                {% endfor %}
            </select><br><br>
            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="url">url</label>
            <input type="text" name="url" id="url"><br><br>
            <input type="submit" value="submit_webpage">
        </form>
    </center>
</body>
</html>